# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- List popular languages for Data Science
- List popular libraries for Data Science
- Bore me to death
- Show that I can make a table in markdown
- Show that I can do simple arithmetic stuff

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib

| Data Science Tools |
| -------- |
| Jupyter Notebooks |
| RStudio |
| Anaconda |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200 
hours = minutes/60
hours

3.3333333333333335

## **Author**
Jonas